
@using ChummerDB.Shared.xml
@inherits ChummerDB.Blazor.ComponentLibrary.Bases.MvvmComponentBase<ChummerDB.Shared.ViewModels.IArmorModsViewModel>
@inject ILogger<ArmorModsView> Logger


@if (ViewModel.Items is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate />
}
else
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Color="Color.Primary">Armor Mods</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <DataGridFilterControl DataGrid="DataGrid" ParentStateHasChanged="StateHasChanged"></DataGridFilterControl>
                <MudDataGrid 
                    @ref="DataGrid" 
                    Dense 
                    Items="@ViewModel.Items" 
                    Groupable 
                    Hideable 
                    FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive" 
                    ShowColumnOptions 
                    Filterable 
                    SortMode="SortMode.Multiple" 
                    FixedHeader>
                    <Columns>
                        <HierarchyColumn></HierarchyColumn>
                        <PropertyColumn Property="item => item.Name" Title="Name"></PropertyColumn>
                        
                        <PropertyColumn Property="item => item.Armor" Title="Armor"></PropertyColumn>
                        
                        <PropertyColumn Property="item => item.NeededCapacity" Title="Required Capacity" Filterable="false" Comparer="@(new MudBlazor.Utilities.NaturalComparer())"></PropertyColumn>
                        <PropertyColumn Property="item => item.NeededCapacity.GetInt()" Title="Required Capacity" Hidden></PropertyColumn>
                        <PropertyColumn Property="item => item.Capacity" Title="Capacity" Hidden></PropertyColumn>
                        
                        <PropertyColumn Property="item => item.Availability" Title="Availability" Filterable="false" Comparer="@(new MudBlazor.Utilities.NaturalComparer())"></PropertyColumn>
                        <PropertyColumn Property="item => item.GetAvailabilityInt()" Title="Availability" Hidden></PropertyColumn>
                        <PropertyColumn Property="item => item.GetLegality()" Title="Legality" Hidden></PropertyColumn>
                        
                        <PropertyColumn Property="item => item.GetCostString()" Filterable="false" Title="Cost" Comparer="@(new MudBlazor.Utilities.NaturalComparer())"></PropertyColumn>
                        <PropertyColumn Property="item => item.GetIntCost()" Title="Cost" Hidden></PropertyColumn>
                        
                        <PropertyColumn Property="item => item.Source" Title="Source" Hidden></PropertyColumn>
                        <TemplateColumn Title="Source" Filterable="false">
                            <CellTemplate>
                                <DisplaySource SourceObject="@context.Item"></DisplaySource>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="item => item.Category" Grouping Hidden>
                            <GroupTemplate>
                                <span style="font-weight:bold">Category: @context.Grouping.Key <MudChip Variant="Variant.Outlined" Color="Color.Info" Size="Size.Small">total @context.Grouping.Count()</MudChip></span>
                            </GroupTemplate>
                        </PropertyColumn>
                    </Columns>
                    <ChildRowContent>
                        <ArmorModCard Item="@context.Item"></ArmorModCard>
                    </ChildRowContent>
                </MudDataGrid>
        </MudCardContent>
    </MudCard>
}


@code {
    private MudDataGrid<ArmorMod>? DataGrid { get; set; }
}