@using ChummerDBRazorLibrary.Backend.xml
@inherits MvvmComponentBase<IComplexFormsViewModel>

@if (ViewModel.ComplexForms is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate />
}
else
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Color="Color.Primary">Complex Forms</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <DataGridFilterControl DataGrid="DataGrid"></DataGridFilterControl>
                <MudDataGrid 
                    @ref="DataGrid" 
                    Dense 
                    Items="@ViewModel.ComplexForms" 
                    Groupable 
                    Hideable 
                    FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive" 
                    ShowColumnOptions 
                    Filterable 
                    SortMode="SortMode.Multiple" 
                    ShowFilterIcons="false"
                    FixedHeader>
                    <Columns>
                        <HierarchyColumn></HierarchyColumn>
                        <PropertyColumn Property="complexForm => complexForm.Name" Title="Complex Form Name"></PropertyColumn>
                        <PropertyColumn Property="complexForm => complexForm.Drain" Title="Fade"></PropertyColumn>
                        <PropertyColumn Property="complexForm => complexForm.Duration"></PropertyColumn>
                        <TemplateColumn Title="Source" Filterable="false">
                            <CellTemplate>
                                <DisplaySource SourceObject="@context.Item"></DisplaySource>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="complexForm => complexForm.Target" Grouping>
                            <GroupTemplate>
                                <span style="font-weight:bold">Target: @context.Grouping.Key <MudChip Variant="Variant.Outlined" Color="Color.Info" Size="Size.Small">total @context.Grouping.Count()</MudChip></span>
                            </GroupTemplate>
                        </PropertyColumn>
                    </Columns>
                    <ChildRowContent>
                        <ComplexFormCard ComplexForm="@context.Item"></ComplexFormCard>
                    </ChildRowContent>
                </MudDataGrid>
        </MudCardContent>
    </MudCard>
    
    
    
}

@code {
    public MudDataGrid<ComplexForm>? DataGrid { get; set; }
}
