@using ChummerDB.Blazor.ComponentLibrary.Backend.xml
@inherits MvvmComponentBase<IArmorModCardViewModel>
@implements ICard<ArmorMod>

@if (ViewModel.ArmorMod is not null)
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudStack Row Justify="Justify.SpaceBetween">
                    <MudText Typo="Typo.h6" Color="Color.Primary">@ViewModel.ArmorMod.Name</MudText>
                    <DisplaySource SourceObject="ViewModel.ArmorMod"></DisplaySource>
                </MudStack>
                <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Baseline">
                    <MudText Color="Color.Tertiary" Typo="Typo.subtitle1">(@ViewModel.ArmorMod.Category)</MudText>
                    <CostDisplay Typo="Typo.subtitle1" Item="Item"></CostDisplay>
                </MudStack>
                <MudDivider/>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <div class="split-columns">
                <PropertyDisplay Label="Armor" Value="@ViewModel.DisplayArmor"></PropertyDisplay>
                <PropertyDisplay Label="Max. Rating" Value="@ViewModel.DisplayMaxRating"></PropertyDisplay>
                <PropertyDisplay Label="Needed Capacity" Value="@ViewModel.DisplayNeededCapacity"></PropertyDisplay>
                <PropertyDisplay Label="Capacity" Value="@ViewModel.DisplayCapacity"></PropertyDisplay>
                <PropertyDisplay Label="Can add" Value="@ViewModel.DisplayAddonCategories"></PropertyDisplay>
            </div>
            @if (ViewModel.ArmorMod.Bonuses.Count > 0 || ViewModel.ArmorMod.WirelessBonuses.Count > 0)
            {
                <MudDivider Light Style="padding-bottom: 5px; border-top-width: 3px"></MudDivider>
            }
            <div class="card-container">
                <BonusCard Item="ViewModel.ArmorMod.Bonuses"></BonusCard>
                <BonusCard Title="Wireless Bonuses" Item="ViewModel.ArmorMod.WirelessBonuses"></BonusCard>
            </div>
        </MudCardContent>
    </MudCard>
}


@code {
    [Parameter]
    public ArmorMod? Item { get; set; }

    protected override void OnParametersSet()
    {
        ViewModel.ArmorMod = Item;
    }
}